
#greyBox {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}

div.header {
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: darkgray;
    top: 0;
    left: 0;
}

p{
    margin: 0;
}

div.footer {
    position: fixed;
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: black;
    color: white;
    /* text-align: left; */
    align-items: center;
}


#parent {
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
    /* padding: 40px; */
    /* margin: 40px; */
    /* display: inline-block; */
}

.child {
    width: 100px;
    height: 100px;
    position: absolute;
}

#child1 {
    background-color: blue;
    top: 0;
    left: 0;
    /* padding: 20px; */
}
#child2 {
    top: 0;
    right: 0;
    background-color: green;
    /* margin-top: 20px; */
}

#child3 {
    bottom: 0;
    right: 0;
    background-color: purple;
    /* margin-top: 20px; */
}
#child4 {
    bottom: 0;
    left: 0;
    background-color: yellow;
    /* margin-top: 20px; */
}
#child5 {
    top: 100px;
    left: 100px;
    background-color: white;
    /* margin-top: 20px; */
}


#example{
    width: 100px;
    height: 100px;
    background-color: red;
    padding-top: 100px;
  }

  #example2{
    width: 100px;
    height: 100px;
    background-color: blue;
    padding-right: 100px;
  }