#page {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "t"
    "c"
    "b";
}

#top {
    grid-area: t;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50px;
}

#content {
    grid-area: c;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

#content div{
    margin-left: 10px;
    margin-right: 10px;
}

#bottom {
    grid-area: b;
    height: 50px;
}

#abcd {
    border: 10px;
    border-color: black;
}
#abcd div{
    height: 100px;
    border: 10px;
    border-color: solid black;
    text-align: center;
}

table, th, td {
    border: 1px solid;
  }

